/src/__pycache__/
/src/History/
/src/Data/
/src/Img/
/venv/
/src/Processing/__pycache__/
/src/Scrapping/__pycache__/
/src/Utils/__pycache__/
/src/API/__pycache__/
/src/API/__pycache__/
/src/API/.env
/Tests/__pycache__/
/Tests/.pytest_cache/